<div class="container pt-4">
    <div id="add-div" class="border border-info bg-light">
        <form onsubmit="return validate()" action="/games/new-game" method="POST"
            class="d-flex flexrow justify-content-around ps-3 pe-3">
            <label class="mt-auto mb-auto">Título</label>
            <input id="game-text" type="text" name="Title" class="form-control-sm border border-info m-1"
                placeholder="Nombre del juego">
            <label class="mt-auto mb-auto">Plataforma</label>
            <select id="platform-select" name="Platform" class="form-control-sm border border-info m-1">
                <option disabled selected value>- o -</option>
                <option value="PC">PC</option>
                <option value="Wii">Wii</option>
                <option value="PS1">PS1</option>
                <option value="PS2">PS2</option>
                <option value="PS3">PS3</option>
                <option value="PS4">PS4</option>
                <option value="PS5">PS5</option>
            </select>
            <label class="mt-auto mb-auto">Calificación</label>
            <select id="note-select" name="Note" class="form-control-sm border border-info m-1">
                <option disabled selected value>- o -</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button id="game-add-button" type="submit" class="btn btn-outline-primary btn-sm border border-info m-1">+</button>
        </form>
        <script>
            let gameAddButton = document.getElementById("game-add-button")
            gameAddButton.addEventListener("click", validate)
            function validate() {
                let gameText = document.getElementById("game-text")
                let platformSelect = document.getElementById("platform-select")
                let noteSelect = document.getElementById("note-select")
                if (gameText.value == "" && platformSelect.value == "" && noteSelect.value == "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡Llena los campos!',
                    })
                    return false
                }
                else {
                    return true
                }
            }
        </script>
        
    </div>
    <div id="table-div" class="border border-info bg-light mt-3">
        <table id="played-games" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>